@{
    ViewBag.Title = "Login";
}

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $("#login").focus();

            $("input").on("keydown", function (event) {
                if (event.keyCode == $.ui.keyCode.ENTER) {
                    $("#btnLogin").trigger("click");
                    return false;
                }
            });

            $("#btnLogin").click(function () {

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Usuario/Login",
                    data:
                    {
                        login: $("#login").val(),
                        senha: $("#senha").val()
                    },
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        if (data.TrocarSenha)
                            window.location.href = "/UsuarioTrocarSenha/Index";
                        else
                            window.location.href = "/Transportadora/Index";
                    }
                });

            });

        });

    </script>
}
<div>
    <h2><i class="glyphicon glyphicon-log-in" style="color: #0f3456" title="Login"></i> Login</h2>
    <hr />
    <div class="form-group">
        <div class="row">
            <div class="col-md-4 text-center">
            </div>
            <div class="col-md-4 text-center">
                <input id="login" type="text" class="form-control" placeholder="Login" />
            </div>
            <div class="col-md-4 text-center">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <input id="senha" type="password" class="form-control" placeholder="Senha" />
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12 text-center">
                <input id="btnLogin" type="button" class="btn btn-primary" value="Login" />
            </div>
        </div>
    </div>
</div>
