@{
    ViewBag.Title = "Permissão";
}

@section scripts
{
    <script type="text/javascript">

        function alterarStatus(data, acao, obj) {

            var mensagem = "";
            var grupoFuncionalidadeDto = {};

            if (acao == "Inserir") {
                mensagem = "Deseja " + (data.Inserir == false ? "ativar " : "inativar ") + acao + "?";
                grupoFuncionalidadeDto.Inserir = !data.Inserir;
            }
            else if (acao == "Ler") {
                mensagem = "Deseja " + (data.Ler == false ? "ativar " : "inativar ") + acao + "?";
                grupoFuncionalidadeDto.Ler = !data.Ler;
            }
            else if (acao == "Atualizar") {
                mensagem = "Deseja " + (data.Atualizar == false ? "ativar " : "inativar ") + acao + "?";
                grupoFuncionalidadeDto.Atualizar = !data.Atualizar;
            }
            else if (acao == "Excluir") {
                mensagem = "Deseja " + (data.Excluir == false ? "ativar " : "inativar ") + acao + "?";
                grupoFuncionalidadeDto.Excluir = !data.Excluir;
            }
            else if (acao == "Executar") {
                mensagem = "Deseja " + (data.Executar == false ? "ativar " : "inativar ") + acao + "?";
                grupoFuncionalidadeDto.Executar = !data.Executar;
            }

            if (confirm(mensagem)) {

                grupoFuncionalidadeDto.Id = data.Id;

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Permissao/AlterarStatus",
                    data: JSON.stringify(grupoFuncionalidadeDto),
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        $("#tbGrupoFuncionalidade").DataTable().row($(obj).parents("tr")).invalidate().data(data.Data).draw();
                    }
                });
            }
        }

        $(document).ready(function () {

            var tbGrupoFuncionalidade = $("#tbGrupoFuncionalidade").DataTable({
                "ordering": false,
                "bFilter": false,
                "pageLength": 25,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                    [
                        { "data": "Id", "className": "text-center" },
                        { "data": function (data, type, row) { return data.GrupoDto.Nome }, "className": "text-center" },
                        { "data": function (data, type, row) { return data.FuncionalidadeDto.Descricao }, "className": "text-center" },                        
                        { "data": function (data, type, row) { return "<a href='#' onclick='alterarStatus(" + JSON.stringify(data) + "," + '\"Inserir\"' + "," + "this)'>" + (data.Inserir ? "Sim" : "Não") + "</a>"; }, "className": "text-center" },
                        { "data": function (data, type, row) { return "<a href='#' onclick='alterarStatus(" + JSON.stringify(data) + "," + '\"Ler\"' + "," + "this)'>" + (data.Ler ? "Sim" : "Não") + "</a>"; }, "className": "text-center" },
                        { "data": function (data, type, row) { return "<a href='#' onclick='alterarStatus(" + JSON.stringify(data) + "," + '\"Atualizar\"' + "," + "this)'>" + (data.Atualizar ? "Sim" : "Não") + "</a>"; }, "className": "text-center" },
                        { "data": function (data, type, row) { return "<a href='#' onclick='alterarStatus(" + JSON.stringify(data) + "," + '\"Excluir\"' + "," + "this)'>" + (data.Excluir ? "Sim" : "Não") + "</a>"; }, "className": "text-center" },
                        { "data": function (data, type, row) { return "<a href='#' onclick='alterarStatus(" + JSON.stringify(data) + "," + '\"Executar\"' + "," + "this)'>" + (data.Executar ? "Sim" : "Não") + "</a>"; }, "className": "text-center" }
                    ]
            });

            $("#btnPesquisar").click(function () {

                var grupoFuncionalidadeDto = {};

                grupoFuncionalidadeDto.IdGrupo = $("#grupo").val();

                $.ajax({
                    dataType: "json",
                    type: "GET",
                    url: "/Permissao/Listar",
                    data: grupoFuncionalidadeDto,
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        tbGrupoFuncionalidade.clear();
                        tbGrupoFuncionalidade.rows.add(data.Data).draw();
                    }
                });

            });

        });

    </script>
}
<div>
    <h2><i class="glyphicon glyphicon-exclamation-sign" style="color: #0f3456" title="Permissões"></i> Permissões</h2>
    <hr />
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                @Html.DropDownList("grupo", new SelectList(ViewBag.Grupo, "Id", "Nome"), "Grupo", new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <input id="btnPesquisar" type="button" class="btn btn-info" value="Pesquisar" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbGrupoFuncionalidade" class="table nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 5%"><b>Id</b></td>
                        <td class="text-center" style="width: 20%"><b>Grupo</b></td>
                        <td class="text-center" style="width: 25%"><b>Funcionalidade</b></td>
                        <td class="text-center" style="width: 10%"><b>Incluir</b></td>
                        <td class="text-center" style="width: 10%"><b>Ler</b></td>
                        <td class="text-center" style="width: 10%"><b>Atualizar</b></td>
                        <td class="text-center" style="width: 10%"><b>Excluir</b></td>
                        <td class="text-center" style="width: 10%"><b>Executar</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>