@using ProjetoTransportadora.Dto;

@{
    ViewBag.Title = "Usuário Trocar Senha";

    UsuarioDto usuarioDto = null;
    if (Session[System.Configuration.ConfigurationManager.AppSettings["ProjetoTransportadoraSessionUsuarioTrocarSenha"]] != null)
    {
        usuarioDto = (UsuarioDto)Session[System.Configuration.ConfigurationManager.AppSettings["ProjetoTransportadoraSessionUsuarioTrocarSenha"]];
    }
}

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnAlterar").click(function () {

                var usuarioDto = {};

                usuarioDto.Id = '@usuarioDto.Id';
                usuarioDto.Senha = $("#senha").val();
                usuarioDto.TrocarSenha = false;

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Usuario/AlterarSenha",
                    data: { usuarioDto: usuarioDto },
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert("warning", data.Mensagem);
                            return;
                        }

                        window.location.href = "/Transportadora/Index";
                    }
                });
            });

        });

    </script>
}
<div>
    <h2><i class="glyphicon glyphicon-user" style="color: #0f3456" title="Usuário Trocar Senha"></i> Usuário Trocar Senha</h2>
    <hr />
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <input id="senha" type="text" class="form-control" placeholder="Nova Senha" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <button id="btnAlterar" type="button" class="btn btn-warning">Alterar</button>
            </div>
        </div>
    </div>
</div>