<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- Dev -->
    <add name="ProjetoTransportadoraEntities" connectionString="metadata=res://*/ProjetoTransportadoraModel.csdl|res://*/ProjetoTransportadoraModel.ssdl|res://*/ProjetoTransportadoraModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql.chicodocolchao.com.br;initial catalog=chicodocolchao;persist security info=True;user id=chicodocolchao;password=ch1c0d0c0lch40;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- Prd -->
    <!--<add name="ProjetoTransportadoraEntities" connectionString="metadata=res://*/ProjetoTransportadoraModel.csdl|res://*/ProjetoTransportadoraModel.ssdl|res://*/ProjetoTransportadoraModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql09-farm22.kinghost.net;initial catalog=sistemaexpressions;persist security info=True;user id=sistemaexpressions;password=515t3m43xpr35510n5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>