﻿<smtp deliveryMethod="Network">
  <network host="smtp.sistemaexpressions.com.br" userName="sistemaexpressions@sistemaexpressions.com.br" password="S@15t3m43xpr35510n5" defaultCredentials="false" />
  <!--<network host="smtpi.sistemaexpressions.com.br" userName="sistemaexpressions@sistemaexpressions.com.br" password="S@15t3m43xpr35510n5" port="587" />-->
</smtp>